@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model ToDoItemViewModel
@{
}
<h2>@Model.Title</h2>
<ul>
    @foreach (var task in Model.Tasks)
    {
    <li>@task</li>

    }
</ul>